[submodule "documentation/fonts/YosemiteSanFranciscoFont"]
	path = documentation/fonts/YosemiteSanFranciscoFont
	url = https://github.com/supermarin/YosemiteSanFranciscoFont
[submodule "documentation/fonts/FontAwesome"]
	path = documentation/fonts/FontAwesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "gtd"]
	path = gtd
	url = https://github.com/connermcd/gtd.git
